<div class="myNavbar for-desktop"
  uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar"
  uk-scrollspy="cls: uk-animation-slide-top; repeat: true">
  <nav class="uk-navbar-container" uk-navbar="dropbar: true;" style="position: relative; z-index: 980;">

    <div class="uk-navbar-left" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
      <img src="../../../assets/img/examples/logo-alianza-stgo.jpg" alt="Logo del Club"
        (click)="redirect('http://clubalianzastgo.web.app/')">
    </div>

    <div class="uk-navbar-center">

      <ul class="uk-navbar-nav">
        <li uk-scrollspy="cls: uk-animation-slide-top; repeat: true"><a id="desktop-home"
            (click)="changePath('home')">Inicio</a></li>
        <li uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true"><a id="desktop-about"
            (click)="changePath('about')">¿Quiénes somos?</a></li>
        <li uk-scrollspy="cls: uk-animation-slide-top; repeat: true"><a id="desktop-calendar"
            (click)="changePath('calendar')">Calendario</a></li>
        <li uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true"><a id="desktop-inscription"
            (click)="changePath('inscription')">Inscripción</a></li>
        <li uk-scrollspy="cls: uk-animation-slide-top; repeat: true"><a id="desktop-sponsors"
            (click)="changePath('sponsors')">Auspiciadores</a></li>
        <li uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true"><a id="desktop-gallery"
            (click)="changePath('gallery')">Galería</a></li>
        <li uk-scrollspy="cls: uk-animation-slide-top; repeat: true"><a id="desktop-location"
            (click)="changePath('location')">¿Dónde nos encontramos?</a></li>
      </ul>

    </div>

    <div class="uk-navbar-right" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
      <img src="../../../assets/img/examples/fevochi.jpg" alt="Logo de la federación de voleibol Chileno"
        (click)="redirect('https://www.fevochi.cl/')">
    </div>
  </nav>
</div>

<div class="myNavbar for-mobile"
  uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar"
  uk-scrollspy="cls: uk-animation-slide-top; repeat: true">
  <nav class="uk-navbar-container" uk-navbar="dropbar: true;" style="position: relative; z-index: 980;">

    <div class="uk-navbar-left" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
      <img src="../../../assets/img/examples/logo-alianza-stgo.jpg" alt="Logo del Club"
        (click)="redirect('http://clubalianzastgo.web.app/')">
      <img src="../../../assets/img/examples/fevochi.jpg" alt="Logo de la federación de voleibol Chileno"
        (click)="redirect('https://www.fevochi.cl/')">
    </div>

    <div class="uk-navbar-right" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
      <button class="uk-button uk-button-default" type="button" uk-toggle="target: #offcanvas-flip">Menú</button>
    </div>
  </nav>
</div>

<div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true; mode: reveal">
  <div class="uk-offcanvas-bar" style="background-color: #145288 !important;">

    <button class="uk-offcanvas-close" type="button" uk-close></button>

    <br>
    <br>

    <ul class="uk-nav">
      <li uk-scrollspy="cls: uk-animation-slide-right repeat: true"><a id="mobile-home"
          (click)="changePath('home')">Inicio</a>
      </li>
      <li uk-scrollspy="cls: uk-animation-slide-right repeat: true"><a id="mobile-about"
          (click)="changePath('about')">¿Quiénes somos?</a></li>
      <li uk-scrollspy="cls: uk-animation-slide-right repeat: true"><a id="mobile-calendar"
          (click)="changePath('calendar')">Calendario</a></li>
      <li uk-scrollspy="cls: uk-animation-slide-right repeat: true"><a id="mobile-inscription"
          (click)="changePath('inscription')">Inscripción</a></li>
      <li uk-scrollspy="cls: uk-animation-slide-right repeat: true"><a id="mobile-sponsors"
          (click)="changePath('sponsors')">Auspiciadores</a></li>
      <li uk-scrollspy="cls: uk-animation-slide-right repeat: true"><a id="mobile-gallery"
          (click)="changePath('gallery')">Galería</a></li>
      <li uk-scrollspy="cls: uk-animation-slide-right repeat: true"><a id="mobile-location"
          (click)="changePath('location')">¿Dónde nos encontramos?</a></li>
    </ul>

  </div>
</div>
