<div class="contenedor-card">
  <div class="uk-card uk-card-default uk-card-hover uk-card-body">
    <h1 class="uk-text-center heading-contacto">Inscripción Club Alianza Santiago</h1>
    <h1 class="uk-heading-line uk-text-center"><span class="subtitle">Datos de Inscripción (*)</span></h1>
    <div class="uk-grid-small uk-child-width-1-2@s uk-flex-center uk-text-center" uk-grid>
      <div>
        <div class="uk-margin">
          <input id="name" class="uk-input uk-form-width-large" type="text" placeholder="Nombres (*)" tabindex="1">
        </div>

        <div class="uk-margin">
          <input id="enterprise" class="uk-input uk-form-width-large" type="text" placeholder="Apellidos (*)"
            tabindex="2">
        </div>
        <div class="uk-margin">
          <input id="mobile" class="uk-input uk-form-width-large" type="text" maxlength="10"
            placeholder="Celular (*)" tabindex="3">
        </div>
      </div>

      <div>
        <div class="uk-margin">
          <input id="date" class="uk-input uk-form-width-large" type="date" maxlength="10"
            placeholder="Fecha de Nacimiento (*)" tabindex="4" uk-tooltip="Fecha de Nacimiento">
        </div>
        <div class="uk-margin">
          <input id="rut" class="uk-input uk-form-width-large" type="text" maxlength="10" placeholder="Rut (*)"
            tabindex="5">
        </div>
        <div class="uk-margin">
          <input id="mail" class="uk-input uk-form-width-large" type="email" placeholder="Correo electrónico (*)"
            tabindex="6">
        </div>
      </div>
    </div>
    <div class="uk-text-center uk-margin-medium-top">
      <button class="uk-button uk-button-primary" tabindex="7">Enviar</button>
    </div>
  </div>
</div>

<div id="valores" class="uk-card uk-card-default uk-card-hover uk-card-body"
  style="width: 400px; background-color: #121212;">
  <h2 class="uk-heading-divider uk-text-center">Aranceles año 2020</h2>
  <table class="uk-table uk-text-center">
    <tbody>
      <tr>
        <td>Matrícula</td>
        <td>$10.000</td>
      </tr>
      <tr>
        <td>Mensualidad</td>
        <td>$40.000</td>
      </tr>
    </tbody>
  </table>
</div>
