<div class="contenedor-card">
  <div class="uk-card uk-card-default uk-card-hover uk-card-body">
    <h1 class="uk-text-center heading-contacto">Inscripción Club Alianza Santiago</h1>
    <h1 class="uk-heading-line uk-text-center"><span class="subtitle">Información {{ areas[0] }}</span></h1>
    <div class="uk-grid-small uk-child-width-1-2@s uk-flex-center uk-text-center" uk-grid>
      <div>
        <div class="uk-margin">
          <input id="name" class="uk-input uk-form-width-large" type="text" placeholder="Nombres (*)" tabindex="1">
        </div>

        <div class="uk-margin">
          <input id="enterprise" class="uk-input uk-form-width-large" type="text" placeholder="Apellidos (*)"
            tabindex="2">
        </div>

        <!-- <div class="uk-margin">
          <input id="mail" class="uk-input uk-form-width-large" type="email" placeholder="Correo de contacto (*)"
            tabindex="2">
        </div>

        <div class="uk-margin">
          <input id="mobile" class="uk-input uk-form-width-large" type="text" maxlength="10"
            placeholder="Número telefónico (*)" tabindex="3">
        </div> -->
      </div>
      <div>
        <div class="uk-margin">
          <input id="mobile" class="uk-input uk-form-width-large" type="date" maxlength="10"
            placeholder="Fecha de Nacimiento (*)" tabindex="3" uk-tooltip="Fecha de Nacimiento">
        </div>
        <div class="uk-margin">
          <input id="mobile" class="uk-input uk-form-width-large" type="text" maxlength="10" placeholder="Rut (*)"
            tabindex="4">
        </div>
      </div>
    </div>
    <div class="uk-text-center uk-margin-medium-top">
      <button class="uk-button uk-button-primary" tabindex="6">Siguiente</button>
    </div>
  </div>
</div>
