<div class="uk-card uk-card-default uk-card-body">
  <hr class="uk-divider-icon">
  <div class="uk-flex-row" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
    <h1 class="uk-heading-bullet">¿Quiénes Somos?</h1>
    <ul>
      <li>
        Somos un club social, cultural y deportivo, con el objetivo de formar categorías con el fin de entrenar y
        competir
        en los principales torneos del país.
      </li>
      <li>
        Además de ser escuela de formación que busca atraer a las personas que quieran aprender, conocer y disfrutar de
        esta disciplina deportiva.
      </li>
    </ul>
  </div>

  <div class="uk-flex-row" uk-scrollspy="cls: uk-animation-slide-right; repeat: true" style="margin-top: -10vh;">
    <h1 class="uk-heading-bullet">Trayectoria del Club</h1>
    <ul>
      <li class="m-l-55">
        Este club nació el 10 de noviembre del año 2019, con el plan de convertirse en un club profesional y conocido.
        Nuestra trayectoria comprende una diversa participación en los distintos torneos que se han desarrollado tanto
        en Santiago como en regiones, dentro de estos podemos destacar el haber obtenido primer lugar en damas y tercer
        lugar en varones en campeonato disputado en la sexta región.
      </li>
    </ul>
  </div>

  <div class="uk-flex-row" style="margin-top: -10vh;">
    <h1 class="uk-heading-bullet" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">Equipo Técnico</h1>
    <ul class="uk-margin-medium-bottom" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
      <li class="non-style">
        <article class="uk-comment uk-comment-primary bound-right">
          <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <img class="uk-comment-avatar" src="../../../assets/img/about-user-icons/male.svg" width="70" height="70"
                alt="">
            </div>
            <div class="uk-width-expand">
              <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Adolfo Carstens
                  Vilches</a></h4>
            </div>
          </header>
          <div class="uk-comment-body">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore magna aliquyam erat, sed diam voluptua.
            </p>
          </div>
        </article>
      </li>
    </ul>

    <ul uk-scrollspy="cls: uk-animation-slide-right; repeat: true" style="margin-top: -18vh;">
      <li class="m-l-55 non-style">
        <article class="uk-comment uk-comment-primary bound-left">
          <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <img class="uk-comment-avatar" src="../../../assets/img/about-user-icons/female.svg" width="70"
                height="70" alt="">
            </div>
            <div class="uk-width-expand">
              <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Karlla Rossier
                  Valdivia</a></h4>
            </div>
          </header>
          <div class="uk-comment-body">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore magna aliquyam erat, sed diam voluptua.
            </p>
          </div>
        </article>
      </li>
    </ul>
  </div>
</div>
