* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}

.uk-card {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  width: 80%;
  margin-bottom: 20px;
  border-top-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  -webkit-box-shadow: -5px 4px 38px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 4px 38px -5px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 4px 38px -5px rgba(0, 0, 0, 0.75);

  ul {

    li {
      text-align: justify;
      width: 45%;
    }
  }
}

h1.uk-heading-bullet,
h4.uk-comment-title {
  font-family: 'Baloo Thambi 2', cursive;
}

div.uk-flex-row:nth-child(odd) {
  text-align: right;
}

.m-l-55 {
  margin-left: 55%;
}

hr.uk-divider-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  width: 60vw;
}

li.non-style {
  list-style: none;
}

article.bound-left {
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
}

article.bound-right {
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}

article {
  background-color: #e7e7e7;
}

.m-t-subs-10 {
  margin-top: -10vh;
}

.m-t-subs-18 {
  margin-top: -18vh;
}

.fix-title-team {
  display: none;
}

@media (max-width: 870px) {
  div.uk-flex-row:nth-child(odd) {
    text-align: left;
  }

  .m-l-55 {
    margin-left: 0;
  }

  hr.uk-divider-icon {
    display: none;
  }

  .uk-card {

    ul {

      li {
        width: 95%;
      }
    }
  }

  .m-t-subs-10 {
    margin-top: 0;
  }

  .m-t-subs-18 {
    margin-top: 0;
  }
}

@media (max-width: 510px) {
  .uk-heading-bullet {
    font-size: 1.6rem;
  }

  ul {

    li {
      font-size: 10px;
    }
  }

  a.uk-link-reset {
    font-size: .8rem;
    font-weight: bold;
  }

  .fix-title-team-show {
    display: none;
  }

  .fix-title-team {
    display: initial;
  }
}
