<div class="uk-card">
  <ul uk-scrollspy="cls: uk-animation-slide-right; repeat: false">
    <li>
      <a target="_blank"
        href="https://www.facebook.com/alianza.santiago.315?fref=search&__tn__=%2Cd%2CP-R&eid=ARCwZVc_490XNFqh3BR9Vkh42u9kz954zfNMryig0wYCIS-ZZ1KWi_KeMn5YoVVuNsLYBvsDbfko3DoZ">
        <i class="fab fa-facebook-f"></i>
        <span class="social-network-f">Facebook</span>
      </a>
    </li>
    <li>
      <a target="_blank"
        href="mailto:clubvoleibolalianzasantiago@gmail.com?Subject=Necesito información acerca del Club Alianza Santiago&body=Hola buenas, necesito información acerca de">
        <i class="fas fa-envelope"></i>
        <span class="social-network-t">Correo</span>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.instagram.com/clubalianzasantiago/?hl=es-la">
        <i class="fab fa-instagram"></i>
        <span class="social-network-i">Instagram</span>
      </a>
    </li>
    <li>
      <a target="_blank"
        href="whatsapp://send?text=Hola buenas, necesito información del Club Alianza Santiago&phone=+56964598631">
        <i class="fab fa-whatsapp"></i>
        <span class="social-network-w">Whatsapp</span>
      </a>
    </li>
  </ul>
</div>
